@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&family=Roboto:wght@300&display=swap");

:root {
  --primary-color: #343e52;
  --secondary-color: #fef3e1;
  --tertiary-color: #546484;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px; 
  text-align: center;
  border-bottom: 1px solid black;
  width: 60%;
  margin: 0 auto 30px; ;
}
